@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

body {
    /* background: url('D:\JATHURSH\DJango_projects\Justys website\frontend\src\assets\background.png') no-repeat; */
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding-top: 100px;
    padding-left: 20px; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 15%;
    background: #593b8b;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

@media (max-width: 1200px) {
    .header {
        padding: 15px 10%; /* on smaller screens */
    }
}

.logo {
    font-size: 25px;
    color: #ffcc00;
    /* color: #fff; */
    font-family: cursive;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 6px;
  }

.navbar a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    /* top: 100%; */
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}



@media (max-width: 768px) {
    .navbar a span {
      display: none; /* hide text */
    }
  
    .navbar {
      gap: 20px;
    }
  
    .navbar a {
      font-size: 20px; /* make icons a bit larger */
    }
  }